<!DOCTYPE HTML>
<html>
<head>
   <title>About</title>
</head>
<body>
   <h1 style="color:red;font-weight: bold;text-decoration: underline;text-align:center">Welcome</h1>
   <p><strong>Project Description : </strong>This project illustrate the kerberos authentification feature in the case of repository(folder) content protection.A user will not be able to access files within an exposed folder on the server without having a valid kerberos ticket.</p>
   <p><strong>Technologie Used : </strong>This project is based on the flask kerberos module.</p>
   <p><strong>Prerequisites : </strong>A kerberos architecture with at least 2 machines (one playing the kdc and the other a client).</p>
      <p><a href="/home">Click here to start</a></p>
   
</body>
</html>
